@model BMR.Models.Service.Models.Response.Macro.GetMacrosResponseModel

<div class="macro">
        <h1>Here's your macros with activity included bmr!</h1>
        <h3>Protein: @Model.Protein</h3>
        <br>
        <h3>Carb: @Model.Carb</h3>
        <br>
        <h3>Fat: @Model.Fat</h3>
 </div>