@{
    ViewData["Title"] = "About";
}
<div class="about">
    <h1>@ViewData["Title"]</h1>

    <h3>Hello dear user , let me introduce you our application.</h3>
    <h3>
        BMR is here so you can calculate your basal metabolic rate , see how much calories your
        body consumes only be staying alive.
        And if you fill your activity field you can also see how much calories you can destroy with
        exercising.
    </h3>
    <h3>I would suggest you to register , login and give your body what does it needs.</h3>
</div>